.hero {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../img/hero.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
        -moz-background-size: cover;
            -o-background-size: cover;
                background-size: cover;
    z-index: -1;
}

.herofilter{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.75;
}

.logoLarge{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    overflow: visible;
    background: url("../img/hibiscus_white_notxt.png") no-repeat center center fixed; 
    -webkit-background-size: auto 120%;
        -moz-background-size: auto 120%;
            -o-background-size: auto 120%;
                background-size: auto 120%;
    -ms-transform: translate(50%, 0); 
        -webkit-transform: translate(50%, 0); 
            -o-transform: translate(50%, 0); 
                -moz-transform: translate(50%, 0); 
                    transform: translate(50%, 0);
}

.logowrapper{
    position: relative;
    width: 14%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto; 
    min-width: 220px;
}

.logo {
    position: relative;
    width: 100%;
    min-width: 220px;
}

.main{
    padding-top: 50px;
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.shout{
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

.whisper{
    color: #AFAFAE;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 1.34em;
    line-height: 0;
}

    #mlb2-2914913,
    #mlb2-2914913 *,
    #mlb2-2914913 a:hover,
    #mlb2-2914913 a:visited,
    #mlb2-2914913 a:focus,
    #mlb2-2914913 a:active {
        overflow: visible;
        position: static;
        background: none;
        border: none;
        bottom: auto;
        clear: none;
        cursor: default;
        float: none;
        font-size: medium;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-indent: 0;
        text-transform: none;
        visibility: visible;
        white-space: normal;
        max-height: none;
        max-width: none;
        left: auto;
        min-height: 0;
        min-width: 0;
        right: auto;
        top: auto;
        width: auto;
        z-index: auto;
        text-shadow: none;
        box-shadow: none;
        outline: medium none;
    }
    
    #mlb2-2914913 h4 {
        font-weight: normal;
    }
    
    #mlb2-2914913 .subscribe-form {
        padding: 20px;
        background: #000000 none!important;
        -webkit-border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        border-radius: 0px!important;
    }
    
    #mlb2-2914913 .subscribe-form.ml-block-success {}
    
    #mlb2-2914913 .subscribe-form .form-section {
        margin-bottom: 20px;
        width: 100%;
    }
    
    #mlb2-2914913 .subscribe-form .form-section.mb10 {
        margin-bottom: 10px;
        float: left;
    }
    
    #mlb2-2914913 .subscribe-form .form-section.mb0 {
        margin-bottom: 0px;
    }
    
    #mlb2-2914913 .subscribe-form .form-section h4 {
        margin: 0px 0px 10px 0px;
        padding: 0px!important;
        color: #000000!important;
        font-family: sans-serif!important;
        font-size: 28px!important;
        line-height: 100%;
        text-align: left!important;
    }
    
    #mlb2-2914913 .subscribe-form .form-section p {
        line-height: 150%;
        padding: 0px!important;
        margin: 0px 0px 10px 0px;
        color: #000000!important;
        font-family: sans-serif!important;
        font-size: 14px!important;
    }
    
    #mlb2-2914913 .subscribe-form .form-section a {
        font-size: 14px!important;
    }
    
    #mlb2-2914913 .subscribe-form .form-section .confirmation_checkbox {
        line-height: 150%;
        padding: 0px!important;
        margin: 0px 0px 15px 0px !important;
        color: #000000!important;
        font-family: sans-serif!important;
        font-size: 12px!important;
        font-weight: normal !important;
    }
    
    #mlb2-2914913 .subscribe-form .form-section .confirmation_checkbox input[type="checkbox"] {
        margin-right: 5px!important;
    }
    
    #mlb2-2914913 .subscribe-form .form-section .form-group {
        margin-bottom: 15px;
    }
    
    #mlb2-2914913 .subscribe-form .form-section .form-group label {
        float: left;
        margin-bottom: 10px;
        width: 100%;
        line-height: 100%;
        color: #000000!important;
        font-family: sans-serif!important;
        font-size: 14px!important;
    }
    
    #mlb2-2914913 .subscribe-form .form-section .checkbox {
        width: 100%;
        margin: 0px 0px 10px 0px;
    }
    
    #mlb2-2914913 .subscribe-form .form-section .checkbox label {
        color: #000000!important;
        font-family: sans-serif!important;
        font-size: 14px!important;
    }
    
    #mlb2-2914913 .subscribe-form .form-section .checkbox input {
        margin: 0px 5px 0px 0px;
    }
    
    #mlb2-2914913 .subscribe-form .form-section .checkbox input[type=checkbox] {
        -webkit-appearance: checkbox;
    }
    
    #mlb2-2914913.ml-subscribe-form .form-group .form-control {
        width: 100%;
        font-size: 13px;
        padding: 10px 10px;
        height: auto;
        font-family: sans-serif!important;
        border-radius: 0px;
        border: 1px solid #cccccc!important;
        color: #000000!important;
        background-color: #FFFFFF!important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        clear: left;
    }
    
    #mlb2-2914913.ml-subscribe-form button {
        border: none !important;
        cursor: pointer !important;
        width: 100% !important;
        border-radius: 0px !important;
        height: 40px !important;
        background-color: #EF5B34!important;
        color: #FFFFFF!important;
        font-family: sans-serif!important;
        font-size: 16px!important;
        text-align: center !important;
        font-weight: 100;
    }
    
    #mlb2-2914913.ml-subscribe-form button.gradient-on {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
    
    #mlb2-2914913.ml-subscribe-form button.gradient-on:hover {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    }
    
    #mlb2-2914913.ml-subscribe-form button[disabled] {
        cursor: not-allowed!important;
    }
    
    #mlb2-2914913.ml-subscribe-form .form-section.ml-error label {
        color: red!important;
    }
    
    #mlb2-2914913.ml-subscribe-form .form-group.ml-error label {
        color: red!important;
    }
    
    #mlb2-2914913.ml-subscribe-form .form-group.ml-error .form-control {
        border-color: red!important;
    }
    /* Horizontal webform */
    
    #mlb2-2914913 .subscribe-form.horizontal {
        padding-bottom: 0px;
    }
    
    #mlb2-2914913 .subscribe-form .form-section.horizontal {
        float: left;
        margin-bottom: 5px;
        width: 70%;
    }
    
    #mlb2-2914913 .subscribe-form .form-section.horizontal .form-group {
        float: left;
        width: 100%;
        padding-right: 10px;
        box-sizing: border-box;
    }
    
    #mlb2-2914913 .subscribe-form .form-section.horizontal .form-group .form-control {
        height: 40px;
    }
    
    #mlb2-2914913 .subscribe-form .form-section.horizontal.button {
        width: 30%;
    }
    
    #mlb2-2914913 .subscribe-form .form-section.horizontal.button.top-padding {
        padding-top: 24px;
    }
    
    @media (max-width: 480px) {
        #mlb2-2914913 .subscribe-form .form-section.horizontal {
            float: none;
        }
        #mlb2-2914913 .subscribe-form .form-section.horizontal,
        #mlb2-2914913 .subscribe-form .form-section.horizontal.button,
        #mlb2-2914913 .subscribe-form .form-section.horizontal .form-group {
            width: 100%;
            padding: 0;
        }
        #mlb2-2914913 .subscribe-form .form-section.horizontal.button {
            margin-bottom: 20px;
        }
    }

.social {
    margin-top: 2em;
    padding-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    opacity: 1;
    height: 50px;
    border-bottom: 0.5px solid RGBA(99, 99, 99, 0.5);
}

.socialcircle {
    line-height: 1.2em;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    color: #AFAFAE;
    font-size:  1.2em;
    transition: all 1s;
    cursor: pointer;
}

.socialcircle:hover{
    background-color: #EF5B34;
    color: black;
}

.socialcircle i {
    padding-top: 10px;
}


.copyright {
    margin-top: 2em;
}
.copytext{
    color: RGBA(99, 99, 99, 0.5);
    font-family: sans-serif;
    font-size: 0.5em;
}

@media only screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) {
    .main{
        width: 60%;
    }
}


@media only screen and (max-width: 710px) and (-webkit-min-device-pixel-ratio: 2) {
    .main{
        width: 80%;
    }
}

@media only screen and (max-width: 530px)  {
    .main{
        width: 100%;
    }

    .shout{
        font-size: 1em;
    }

    .whisper{
        font-size: 0.8em;
    }
}

@media only screen and (max-device-width: 530px) and (-webkit-min-device-pixel-ratio: 2) {
    .main{
        width: 80%;
    }

    .logowrapper{
        position: relative;
        width: 14%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto; 
        min-width: 300px;
    }   

    .logo {
        position: relative;
        width: 100%;
        min-width: 300px;
    }   

    .shout{
        font-size: 2em;
    }

    .whisper{
        font-size: 1.75em;
    }
    .logoLarge {
        width: 200%;
        -ms-transform: translate(-30%, 0);
        -webkit-transform: translate(-30%, 0);
        -o-transform: translate(-30%, 0);
        -moz-transform: translate(-30%, 0);
        transform: translate(-30%, 0);
    }
    
}
